:root {
  --brand-primary: #52c0c7;
  --brand-secondary: #58cb6e;

  /* Colors */
  --bg-color: #ffffff;
  --brand-danger: #ef4d61;
  --brand-danger-lightest: #fbe9ec;
  --brand-warning: #ffc12e;
  --brand-warning-lightest: #fbf5e8;
  --brand-info: #1fc0fb;
  --brand-info-lightest: #e9f5fc;
  --brand-success: var(--brand-primary);
  --brand-success-lightest: #e9f6f2;
  --blue: var(--brand-info);
  --green: var(--brand-success);
  --green-dark: #007a4b;
  --orange: #ee870f;
  --yellow: var(--brand-warning);
  --yellow-darker: #c4921c;
  --pink: #eb4892;
  --purple: #6c43ff;
  --brown: #6c3628;
  /* Grays + Blacks */
  --gray-lightest: #fafbfc;
  --gray-light: #e2e6ed;
  --gray: #787c84;
  --white: #ffffff;
  --black: #181818;
  /* Shared Components */
  --border-radius-base: 4px;
  --card-border-color: #e2e6ed;
  --dropdown-backdrop: rgba(0, 0, 0, 0.3);
  --box-shadow: rgba(0, 0, 0, 0.15);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-weight: 200;
  font-family: var(--font-family-primary);
  background: var(--bg-color);

  min-height: 100vh;
}

a {
  text-decoration: none;

  &:visited {
    color: var(--white);
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}
