:root {
  --brand-primary: hsl(var(--brand-primary-h), var(--brand-primary-s), var(--brand-primary-l));
  --brand-primary-darker: hsl(var(--brand-primary-h), var(--brand-primary-s), calc(var(--brand-primary-l) * 0.9));
  --brand-primary-darkest: hsl(var(--brand-primary-h), var(--brand-primary-s), calc(var(--brand-primary-l) * 0.8));
  --brand-secondary: hsl(var(--brand-secondary-h), var(--brand-secondary-s), var(--brand-secondary-l));
  --brand-secondary-darker: hsl(var(--brand-secondary-h), var(--brand-secondary-s), calc(var(--brand-secondary-l) * 0.9));
  --brand-secondary-darkest: hsl(var(--brand-secondary-h), var(--brand-secondary-s), calc(var(--brand-secondary-l) * 0.8));
  /* Colors */
  --brand-danger: #ef4d61;
  --brand-danger-lightest: #fbe9ec;
  --brand-warning: #ffc12e;
  --brand-warning-lightest: #fbf5e8;
  --brand-info: #3ac4ff;
  --brand-info-lightest: #e9f5fc;
  --brand-success: #34d39d;
  --brand-success-lightest: #e9f6f2;
  --blue: var(--brand-info);
  --green: var(--brand-success);
  --orange: #fd8000;
  --yellow: var(--brand-warning);
  --yellow-darker: #c4921c;
  --pink: #eb4892;
  --purple-dark: #4d32ae;
  /* Grays + Blacks */
  --gray-lightest: #fafbfc;
  --gray-light: #e2e6ed;
  --gray: #787c84;
  --white: #ffffff;
  --black: #181818;
  /* Shared Components */
  --border-radius-base: 4px;
  --card-border-color: #e2e6ed;
  --dropdown-backdrop: rgba(0, 0, 0, 0.3);
  --box-shadow: rgba(0, 0, 0, 0.15);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}
